IntegrationTest/build/
IntegrationTestDB/build/
IntegrationTestWebService/build/
IntegrationTest/bin/
IntegrationTestDB/bin/
IntegrationTestWebService/bin/
.classpath
.project
/log
/.gradle
.gradle
/config
start.bat
/.settings
IntegrationTest/.idea/
IntegrationTestDB/.idea/
IntegrationTestWebService/.idea/
*.iml